-content_for :sidebar do 
  #user-information
    #level
      Level 
      =@user.level
    %h1#username=@user.username
    #xp_bar{:progress=>@user.level_progress}
    .profile_image
      =image_tag @user.the_photo(:profile), :class=>"profile"
    -unless @user.location.nil?
      %h2=@user.location
    -unless @user.first_name.nil? || !@user.public_name
      %h2="#{@user.first_name} #{@user.last_name}"
    -if @user.twitter_name
      %a{:href=>"http://twitter.com/#{@user.twitter_name}"}
        %h2="@#{@user.twitter_name}"
    -unless @user.url.nil?
      %a{:href=>@user.url}
        %h2=@user.url
    -unless @user.bio.nil?
      =@user.bio
    -unless @user.location.nil?
      %h2=@user.location
    -if user_signed_in? && current_user != @user
      %p
        -if current_user.following?(@user)
          = link_to 'Unfollow', following_path(:id => current_user.follows.find_by_following_id(@user.id)), :method => 'delete'
        -else
          = link_to 'Follow', followings_path(:following_id => @user.id), :method => 'post'
          
    -if @user.quest_definitions && @user.quest_definitions.length
      %h2 Quests Created!
      -@user.quest_definitions.each do |q|
        .info
          =link_to q.name, quest_definition_path(q)        
    %h2 Totals
    #totals
      -@totals.each do |t|
        %p{:class=>'selected category', :category=>"#{t.verb}"}= "#{t.verb} #{t.total.to_f.pretty} #{t.noun}"
    .clear
    -unless @user.followers.empty?
      %h2 Followers

      %ul#followers
        -@user.followers.each do |follower|
          %li
            %img{:src => follower.photo.url(:thumb)}
    -unless @user.followings.empty?
      %h2 Following
          
      %ul#followings
        -@user.followings.each do |following|
          %li
            %img{:src => following.photo.url(:thumb)}
#graph-container{:style=>'width: 680px; height: 270px'}

      
%h1 Activity
.info
#pages
  -@wins.reverse.each do |w|
    .status
      =render :partial => "shared/status", :locals => {:w=>w}
  = will_paginate @wins
= javascript_include_tag 'highcharts.src'
= javascript_include_tag 'kuwest_graph'
