-content_for :sidebar do 
  #user-information
    %h1#username=@user.username
    .profile_image
      =image_tag @user.photo.url(:profile)
    -unless @user.location.nil?
      %h2=@user.location
    -unless @user.first_name.nil? || !@user.public_name
      %h2="#{@user.first_name} #{@user.last_name}"
    -if !@user.twitter_name.nil? && @user.twitter_name.length > 0
      %a{:href=>"http://twitter.com/#{@user.twitter_name}"}
        %h2="@#{@user.twitter_name}"
    -unless @user.url.nil?
      %a{:href=>@user.url}
        %h2=@user.url
    -unless @user.bio.nil?
      =@user.bio
    -unless @user.location.nil?
      %h2=@user.location
    %p
    %h2 Totals
    #totals
      -@totals.each do |t|
        %p{:class=>'selected category', :category=>"#{t.verb}"}= "#{t.verb} #{t.total.to_f.pretty} #{t.noun}"
#graph-container{:style=>'width: 680px; height: 270px'}
%h1 Activity
.info
#pages
  -@wins.reverse.each do |w|
    .status
      =render :partial => "shared/status", :locals => {:w=>w}
  = will_paginate @wins
= javascript_include_tag 'highcharts.src'
= javascript_include_tag 'kuwest_graph'
