!!! Strict
%html
  %head
    - @title ||= "Kuwest [BETA]- tackle your real life quest_definitions."
    %title 
      =@title
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'jquery-ui-1.8'
    = javascript_include_tag 'mustache'     
    = javascript_include_tag 'common'
    = javascript_include_tag 'jquery.upload'
    = javascript_include_tag 'slimbox2'
    = javascript_include_tag 'jquery.tweet'
    = javascript_include_tag 'bubble'
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/application.css'
    = stylesheet_link_tag 'slimbox/slimbox2'
    = stylesheet_link_tag 'bubbletip/bubbletip'
    = stylesheet_link_tag 'smoothness/jquery-ui-1.8.custom'
    = javascript_include_tag  'http://use.typekit.com/wrf8sur.js'
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
  %body
    .header.content
      #washout
        &nbsp;
      #logo
        %a{:href=>"/", :title=>"Kuwest.com"}
          %img{:src=>"/images/logo.png", :alt=>"Kuwest.com"}
      #topnav
        #socialmedia
          %a{:href=>"http://twitter.com/kuwest", :title=>"Kuwest twitter feed for your goal tracking fun"}
            %img{:src=>"/images/twitter.png", :border=>0}
          %a{:href=>"http://www.facebook.com/pages/Kuwest/123391054359447", :title=>"Facebook for your goal tracking fun"}
            %img{:src=>"/images/facebook.png", :border=>0}
        #login
          -if !user_signed_in?
            %form.login{:method=>"post", :action=>"/users/login"}
              %table 
                %tr
                  %td
                    Already a member? Login:&nbsp;
                  %td
                    %input.hint{:type=>"text", :name=>"user[email]", :title=>"email"}
                  %td
                    %input.hint{:type=>"password", :name=>"user[password]", :title=>"password"}
                  %td
                    %input.noborder{:type=>"image", :src=>"/images/yellow-go.png", :value=>"Go!", :border=>"0"}
                %tr
                  %td
                    Or
                  %td
                    =link_to 'Login with twitter', '/login'
          -else
            %ul#links 
              %li.first
                %a{:href=>"/wins/new"}
                  new status
              %li
                =link_to 'profile', user_show_path(current_user)
              %li
                %a{:href=>'/profile'}
                  edit profile
              %li
                %a{:href=>'/users/logout'}
                  logout
              
    .clearFix 
    .bar
    #tip.chalk
      .close X
      .tip
    #messageDiv{:css=>"background-color:white"}
      #flashBubble{:style=>"display:none"}
        %pre{:class=>"tip"}
          ="{ deltaDirection: 'left' }"
      #flashMessage
        -if flash[:error] || @error  #HACK: clean this up
          .error=flash[:error] || @error
        -if flash[:notice] || @notice
          .notice=flash[:notice] || @notice
        -if flash[:alert] || @alert
          .alert=flash[:alert] || @alert
    #container.content
      #content
        = yield
      #sidebar
        = yield :sidebar
    #footer
      .content
        %a{:href=>"/tos"}
          Terms of Use
        %a.soon{:href=>"/terms"}
          Developers 
        %a{:href=>"/about"}
          Business 
        %a{:href=>"/about"}
          About
    =render :partial => "shared/google_analytics"
    =render :partial => "shared/feedback"
