!!! Strict
%html
  %head
    %title Kuwest.com - meet your real life quests.
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'jquery-ui-1-8'
    = javascript_include_tag 'mustache'
    = javascript_include_tag 'common'
    = javascript_include_tag 'highcharts.src'
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/application.css'
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'

  %body
    .head
      %a{:href=>"/"}
        %img{:src=>"/images/logo.png", :alt=>"Kuwest.com"}
    #messageDiv
      #flashMessage
        -if flash[:error] || @error  #HACK: clean this up
          .error=flash[:error] || @error
        -if flash[:notice] || @notice
          .notice=flash[:notice] || @notice
        -if flash[:alert] || @alert
          .alert=flash[:alert] || @alert
    #container
      = yield
    =render :partial => "shared/google_analytics"
    =render :partial => "shared/feedback"
    =render :partial => "shared/nav"
