!!! Strict
%html
  %head
    %title Kuwest.com - meet your real life quests.
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'jquery-ui-1-8'
    = javascript_include_tag 'mustache'
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'

  %body
    .head
      %a{:href=>"/"}
        %img{:src=>"/images/logo.png", :alt=>"Kuwest.com"}
    #messageDiv
      #flashMessage
        -if flash[:error]
          .notice=flash[:error]
        -if flash[:notice]
          .notice=flash[:notice]
        -if flash[:alert]
          .alert=flash[:alert]
    #container
      = yield
