!!! Strict
%html
  %head
    %title Kuwest.com - meet your real life quests.
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'jquery-ui-1.8'
    = javascript_include_tag 'mustache'     
    = javascript_include_tag 'common'
    = javascript_include_tag 'jquery.upload'
    = javascript_include_tag 'slimbox2'
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/application.css'
    = stylesheet_link_tag 'slimbox/slimbox2'
    = stylesheet_link_tag 'smoothness/jquery-ui-1.8.custom'
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
  %body
    .header
      #logo
        %a{:href=>"/"}
          %img{:src=>"/images/logo.png", :alt=>"Kuwest.com"}
      #topnav
        #socialmedia
          %a{:href=>"http://twitter.com/kuwest", :title=>"Kuwest twitter feed for your goal tracking fun"}
            %img{:src=>"/images/twitter.png", :border=>0}
          %a{:href=>"http://www.facebook.com/pages/Kuwest/123391054359447", :title=>"Facebook for your goal tracking fun"}
            %img{:src=>"/images/facebook.png", :border=>0}
        #login
          %form.login
            %table 
              %tr
                %td
                  Already a member? Login:&nbsp;
                %td
                  %input.hint{:type=>"text", :title=>"username"}
                %td
                  %input.hint{:type=>"password", :title=>"password"}
                %td
                  %input.noborder{:type=>"image", :src=>"/images/yellow-go.png", :value=>"Go!", :border=>"0"}
          
    .clearFix 
    .bar
    #messageDiv
      #flashMessage
        -if flash[:error] || @error  #HACK: clean this up
          .error=flash[:error] || @error
        -if flash[:notice] || @notice
          .notice=flash[:notice] || @notice
        -if flash[:alert] || @alert
          .alert=flash[:alert] || @alert
    #container
      = yield
    =render :partial => "shared/google_analytics"
    =render :partial => "shared/feedback"
    =render :partial => "shared/nav"
